<div data-sly-use.product="com.exadel.core.models.ProductModel"
     class="container bg-white shadow-sm rounded-2">
    <div class="row mt-5 p-4">
        <h3>${product.name}</h3>
        <p class="text-primary">${product.createdAt}</p>
    </div>
    <div class="row px-4 pb-4 mb-3">
        <div class="col-3 text-center">
            <img src="${product.image}" class="img" width="200">
        </div>
        <div class="col-8">
            <table class="table table-bordered table-striped table-sm">
                <tr>
                    <td>Brand</td>
                    <td>${product.brand}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>${product.type}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>${product.category}</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>${product.rating}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>${product.price}</td>
                </tr>
            </table>
            <p>${product.description}</p>
        </div>
    </div>
</div>