
<section class="text-center container-fluid topsection">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto shadow rounded-3 topsection-container">
            <h1 class="fw-light">Beauty Shop</h1>
            <p class="lead text-muted">Discover the latest in beauty at BeautyShop. Explore our unrivaled selection of
                makeup, skin care, fragrance and more from classic and emerging brands </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>
