
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-light">Exadel Internship Study AEM Project - this resource represent Beauty Shop
                        website made entirely in Adobe Experience Manager</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Skype: russell.skalden</a></li>
                        <li><a href="https://www.linkedin.com/in/ruslan-skaldin-8a092773/"
                               class="text-white">LinkedIn</a></li>
                        <li><a href="mailto:rskaldin@exadel.com" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img class="m2 img" alt="Logo" src="/content/dam/exadel/organic-skin-care_icon-icons.com_49215.png"/>
                <strong class="text-warning mx-3">Beauty Shop</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
