<div data-sly-use.productList="com.exadel.core.models.ProductListModel"
     data-sly-use.liketemplate="exadel/components/content/likes/liketemplate.html">
    <div data-sly-list.item="${productList.products}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-2">
        <div class="col">
            <div class="card shadow">
                <img src="${item.image}" class="img mx-auto" width="220" />
                <div class="card-body">
                    <a href="${item.pagePath}">
                        <h5 class="text-primary">${item.truncatedName}</h5>
                    </a>
                    <p class="card-text">${item.truncatedDescription}</p>
                    <div class="d-flex justify-content-between align-items-center product-bottom-bar">
                        <input type="hidden" value="${item.productId}"/>
                        <div data-sly-call="${liketemplate.likesTemplate @ data=item}"></div>
                        <small class="text-muted">${item.createdAt}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>